.card {
  position: relative;
  margin: 2rem auto 0 auto;
  padding: 0.6rem;
  width: 90%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > h1 {
  margin: 1rem 0;
  font-size: 1.4rem;
}

.errors {
  margin-bottom: 1rem;
}
