.button {
  cursor: pointer;
  font-family: inherit;
}

.button:active {
  transform: scale(0.9);
}

.button:focus-visible {
  outline: var(--focus-visible-outline);
  border-radius: var(--focus-visible-border-radius);
  padding: var(--focus-visible-padding);
}

.button:disabled {
  cursor: not-allowed;
  color: var(--disabled);
}

.button:disabled:hover {
  filter: none;
}
