.button {
  padding: 0.5rem 1rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  color: #fff;
}

.button:focus-visible {
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  outline-offset: 0.4rem;
  outline: var(--focus-visible-outline);
}

.button:hover,
.button:active {
  filter: brightness(1.8);
}
