.button {
  padding: 0.5rem 1rem;
  background: var(--main-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 0.6rem;
  color: #fff;
}

.button > svg {
  margin-left: 0.5rem;
}

.button:hover,
.button:active {
  filter: brightness(1.8);
}

.button:focus {
  outline: none;
  box-shadow: var(--focus-box-shadow);
}

.button:disabled {
  background: #ccc;
  border: 0.1rem solid #ccc;
}

.button:disabled:hover,
.button:disabled:active {
  filter: none;
}
