.meta {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .meta {
    flex-direction: row;
  }

  .info {
    padding-left: 1rem;
    margin: 0;
  }
}
