.pagination {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto 1rem auto;
  padding: 0.6rem;
}

.items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin-right: 1rem;
  padding: 0.6rem;
}

.item:last-of-type {
  margin: 0;
}

.item--active {
  color: var(--main-color);
  filter: brightness(1.8);
}

.item--disabled {
  color: #808080;
}
