.main-header {
  grid-row: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 10;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.6);
  height: 100%;
}

.nav {
  display: none;
}

.nav-list {
  flex-direction: row;
}

.nav-list li {
  margin-right: 1rem;
}

@media (min-width: 50rem) {
  .container {
    justify-content: space-around;
  }

  .nav {
    display: block;
  }
}
