.container {
  display: flex;
  align-items: center;
}

.toggle-password-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  display: grid;
  place-content: center;
  margin: -2rem;
}

.toggle-password-btn:hover,
.toggle-password-btn:active {
  filter: brightness(1.8);
}

.eye-icon {
  color: var(--main-color);
  margin: 0;
}
