.favorite-button {
  background: transparent;
  border: none;
  font-weight: 700;
}

.favorite-button > span {
  margin-left: 0.4rem;
}

.favorite-button:hover,
.favorite-button:active,
.favorite-button:focus {
  color: var(--main-color);
}
